<h1>Pagina Slave</h1>

Empieza con <strong><%= @letras %></strong>

<div style="color:red"><h1><%= @mensaje %></h1></div><br><br>

<form action="/enviarPregunta" method="post">
  <p>Es un/a <input type="text" name="pregunta">? </p> <br> 
  <p>Respuesta: <input type="text" name="respuesta"> </p> <br> 
  <input type="submit" value="Submit">


</form>

<form action="/enviarContacto" method="post">
  <p><input type="text" name="respuesta_contacto"> </p> <br> 
  <input type="submit" value="Submit_contacto">
</form>

<strong><%= @haycontacto %></strong>


