<h1>Pagina Slave</h1>

Empieza con <strong><%= @letras %></strong>


<form action="/enviarPregunta" method="post">
  <p>Es un/a <input type="text" name="pregunta">? </p> <br> 
  <input type="submit" value="Submit">
</form>



<p>Respuesta: </p>

