<h1>Pagina King</h1>

<form action="/enviarPalabra" method="post">
  Palabra Secreta: <input type="text" name="palabra"><br>
  <input type="submit" value="Submit">
</form>
<br>

<div style="color:red"><h1><%= @mensaje %></h1></div><br><br>

<a href="/slave" target="_blank">Jugador Slave</a><br><br><br>
<a href="/verpreguntasslave">Ver Preguntas</a><br>
<div><%= @preguntas %></div>


<form action="/enviarRespuesta_king" method="post">
  No es un/a <input type="text" name="respuesta_king"><br> 
  <input type="submit" value="Submit">
</form>
</br>



